.index-analitics{
    padding-bottom: clamp(30px, 3.75vw, 72px);

    &__box {
        display: flex;
        flex-direction: column;
        padding: 25px 0 0 10px;
        grid-gap: clamp(15px, 2.031vw, 39px);
    }
}