
.index-first {
//   padding-bottom: 29px;

// @include tablet {
//     padding-bottom: clamp(32px, 1.927vw, 37px);
//   }

// @include mobile {
//     padding-bottom: 36px;
//   }
padding-bottom: clamp(30px, 3.75vw, 72px);
  &__box {
    display: flex;
    flex-direction: column;
    padding: 25px 0 ;

    grid-gap: clamp(30px, 3.125vw, 60px);
  }
}



