.index {
  display: grid;

  background-color: var(--bg-d);

  grid-template-columns: 350px 1fr;
}

.main-analitics__item {
  display: flex;
  flex-direction: column;
  max-width: 570px;

  grid-gap: 100px;
}
