<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>Paseka</title>
    <link rel="preload" href="fonts/Rubik-LightItalic.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Rubik-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Rubik-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Rubik-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Barlow-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
