.main-settings {
    padding: clamp(15px, 1.563vw, 30px) clamp(13px, 1.354vw, 26px);
    background: var(--bg-a);
    box-shadow: 0px 12px 33px rgba(62, 73, 84, 0.08);
    border-radius: 12px;
    display: grid;
    grid-gap: clamp(10px, 1.042vw, 20px) clamp(20px, 2.76vw, 53px);
    grid-template-columns: repeat(2, 1fr);

    &__title {
        grid-column: span 2;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 0.938vw, 18px);
        line-height: 125%;
        color: var(--color-f);
    }

    p {
        grid-column: span 2;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 300;
        font-size: clamp(14px, 0.833vw, 16px);
        line-height: 125%;
        color: var(--color-f);
        padding-bottom: clamp(10px, 1.042vw, 20px);
    }

    &__list {
        display: flex;
        align-items: center;
        grid-gap: clamp(13px, 1.354vw, 26px);
    }

    &__sublist {
        display: flex;
        align-items: center;
        grid-gap: clamp(11px, 1.146vw, 22px);
    }

    &__color {
        width: clamp(20px, 1.563vw, 30px);
        height: clamp(20px, 1.563vw, 30px);
        border-radius: 50%;
        background-color: var(--bg-a);

        &.active {
            border: solid 2px var(--color-b);
        }

        &--blue {
            background-color: var(--bg-j);
        }

        &--violet {
            background-color: var(--bg-l);
        }

        &--pink {
            background-color: var(--bg-m);
        }

        &--grey {
            background-color: var(--bg-x);
        }

        &--silver {
            background-color: var(--bg-d);
        }

        &--yellow {
            background-color: var(--bg-n);
        }
    }

    &__label {
        max-width: 109px;

    }

    &__input {
        padding-bottom: 11px;
        font-family: 'Rubik';
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-b);
        border-bottom: solid 2px var(--color-j);

        &::placeholder {
            color: var(--color-j);
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: clamp(10px, 1.042vw, 20px) clamp(25px, 2.604vw, 50px);
    }

    &__choice {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: clamp(10px, 1.563vw, 30px);

    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 2;
        grid-gap: clamp(30px, 4.167vw, 80px);
    }

    &__content {
        align-items: end;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 2;
        grid-gap: clamp(20px, 2.083vw, 40px);
    }

}