:root {
  --body-bg:#141414;



  --content-width: 1920px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-mini: calc(1170px + var(--container-offset) * 2);

  --font-family: "Rubik", sans-serif; // var(--font-family);
  --font-family1: "Barlow", sans-serif; // var(--font-family1);
  
 
  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b:  #000000; // var(--color-b);
  --color-c:  #FEAA50; // var(--color-c);
  --color-d:  #5C4BA7; // var(--color-d);
  --color-f:  #3E4954; // var(--color-f);
  --color-g:  #9C9C9C; // var(--color-g);
  --color-h:  #0F0F0F; // var(--color-h);
 

  // bg color
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-d: #E5E5E5; // var(--bg-d);
  --bg-c:  linear-gradient(181.77deg, #FEAA50 0%, #C74992 100%); // var(--bg-c);

 
  --bg-header: #000000; // var(--bg-header);
  --bg-header1: rgba(0, 0, 0, 0.6); // var(--bg-header1);
  --svg-fill: #FEAA50;// var(--svg-fill);
  --bg-index-first: #0C1A36; // var(--bg-index-first);
  --bg-index-partners: #0C1A36; // var(--bg-index-partners);
  --bg-btn: rgba(238, 85, 20, .1); // var(--bg-btn);
  --bg-btn2: rgba(238, 85, 20, 0.918); // var(--bg-btn2);



  //hover
  --svg-fill-hover:#E7E04D;// var(--svg-fill-hover);
  --btn-hover: rgba(238, 85, 20, .1); // var(--btn-hover);

  //border color
  --border-a: rgba(255, 255, 255, 0.4); // var(--border-a);
  --border-b: #F17B7B; // var(--border-b);
  --border-c: #a6a4a4; // var(--border-c);
}
